extends _layout/default

block vars
  -title        = 'Homepage'
  -description  = ''
  -keywords     = ''
  -og_title     = ''
  -url          = ''
  -pageID       = 'homepage'
  -path         = '.'

block scripts

block container

  section.intro.bg1
    .container
      .intro-wrap
        .intro-l(data-aos="fade-right")
          h2.tt-50.cl-pri.fw-700 DIỄN ĐÀN
            br
            | CHUYỂN ĐỔI XANH
          .intro-txt
            p Điểm hẹn kết nối chiến lược – Lan tỏa hành động xanh
              br
              |  Trong một thế giới đang biến đổi nhanh hơn bao giờ hết, chuyển đổi xanh không còn là lựa chọn của riêng ai – mà là cam kết chung cho một tương lai bền vững.
          a.btn.btn--border(href="#")
            span Xem chi tiết
        .intro-r(data-aos="fade-left")
          .intro-img
            +img("home/intro.svg")
  section.intro.bg2
    .container
      .intro-wrap
        .intro-l(data-aos="fade-right")
          h2.tt-50.cl-pri.fw-700 NGÀY HỘI TÁI CHẾ
          .intro-txt
            p Nếu có một nơi mà mọi thứ tưởng chừng đã bỏ đi bỗng vụt sáng trở lại – thì đó chính là Ngày hội Tái chế, diễn ra trọn vẹn trong khuôn khổ Diễn đàn Chuyển đổi Xanh ngày 31.7 tại Dinh Độc Lập. Tại đây, hơn 50 doanh nghiệp, tổ chức, nhóm cộng đồng, trường đại học… sẽ mang đến gần 100 mô hình, sản phẩm, sáng kiến tiêu biểu – tất cả được “hồi sinh” từ những vật liệu đã qua sử dụng, phế phẩm sản xuất hay chính những thứ từng bị coi là... rác.
          a.btn.btn--border(href="#")
            span Xem chi tiết
        .intro-r(data-aos="fade-left")
          .intro-img
            +img("home/intro1.svg")
  section.pineapple
    .container(data-aos="fade-up")
      .pineapple-wrap
        .pineapple-l
          h2.tt-50.fw-700.cl-pri KHI CUỘC ĐỜI
          .pineapple-txt
            p Một talk show sinh động – mang thông điệp lớn từ một loại nông sản quen thuộc. Bạn sẽ làm gì khi cuộc đời cho ta quả dứa?
        .pineapple-m
          +img("home/pineapple.svg")
        .pineapple-r
          h2.tt-50.fw-700.cl-pri CHO TA QUẢ DỨA
          .pineapple-txt
            p Có thể là ăn – như bao người vẫn chọn. Nhưng cũng có thể là mặc, là sống cùng – là nâng tầm giá trị từ một thứ tưởng chừng thân quen.
        .pineapple-mb
          h2.tt-50.fw-700.cl-pri KHI CUỘC ĐỜI
            br
            | CHO TA QUẢ DỨA
          .pineapple-txt
            p Một talk show sinh động – mang thông điệp lớn từ một loại nông sản quen thuộc. Bạn sẽ làm gì khi cuộc đời cho ta quả dứa?
            p Một Có thể là ăn – như bao người vẫn chọn. Nhưng cũng có thể là mặc, là sống cùng – là nâng tầm giá trị từ một thứ tưởng chừng thân quen.

  section.solution
    .container(data-aos="fade-up")
      .solution-wrap
        h2.tt-50.fw-700.cl-pri.t-ct CUỘC THI DỰ ÁN XANH -
          br
          | &nbsp;SÁNG KIẾN TÁI CHẾ -
          br
          | &nbsp;GIẢI PHÁP TUẦN HOÀN
        .intro-txt
          p Từ tái chế rác thải đến sản phẩm thân thiện, từ mô hình tuần hoàn đến giải pháp cộng đồng — những ý tưởng xuất sắc nhất của sinh viên giờ đây bước lên một sân khấu đặc biệt: Chung kết cuộc thi “Ý tưởng sáng tạo trong sinh viên”.
        a.btn.btn--border(href="#")
          span Xem chi tiết
      .top-group.img-list
        each item, id in Array(7)
          .top-img
            +img(`home/solution${id + 1}.svg`)


