footer.footer
  .container(data-aos="zoom-in")
    .footer-wrap
      .footer-l
        p Thông tin liên hệ:
        p Ms. Thanh Ngô - thanh.ngo@bsas.vn - 097 289 2809
        p Ms. Linh Nguyễn - thuylinh.nguyen@360life.vn - 088 883 0123
        p *Phụ trách khu DN khởi nghiệp: Ms. Thanh Thuỳ: 093 720 1797
      .footer-r
        .top-l
          .top-group
            .top-img
              +img("home/logo1.png")
            .top-img
              +img("home/logo2.png")
            .top-img
              +img("home/logo3.png")
        .top-r
          .top-group
            .top-img
              +img("home/logo4.png")
            .top-img
              +img("home/logo5.png")
