.top-wrap
    .container(data-aos="zoom-in")
      .top-box
        .top-l
          .top-group
            .top-img
              +img("home/logo1.png")
            .top-img
              +img("home/logo2.png")
            .top-img
              +img("home/logo3.png")
        .top-m
          .top-group
            .top-img
              +img("home/main.png")
          h1.hide-sitename DIỄN ĐÀN CHUYỂN ĐỔI XANH
        .top-r
          .top-group
            .top-img
              +img("home/logo4.png")
            .top-img
              +img("home/logo5.png")
      .header-main
        nav.header-nav
          ul.menu-list
            li.menu-item.current-menu-item
              a(href="/index1.html") DIỄN ĐÀN
            li.menu-item
              a(href="/index2.html") NGÀY HỘI
            li.menu-item
              a(href="/index3.html") CUỘC THI